body {
  background-color: #fff;
  padding: 2em;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  color: #212121;
}
.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#ftc-harvest {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bold {
  font-weight: bolder;
}

input {
  width: 80%;
  padding: 12px 20px;
  margin: 10px 0;
}

button {
  cursor: pointer;
  background-color: #4caf50;
  border: none;
  color: white;
  background-color: #00bcd4;
  font-size: 16px;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.sell {
  background-color: white;
  color: #d1c4e9;
}

.ftc-intro {
  background-color: #0097a7;
  color: white;
  width: 100%;
  padding: 20px;
}

.form-group {
  background-color: #0097a7;
  color: black;
  width: 100%;
  max-width: 600px;
  padding: 30px;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.form-break {
  background-color: #fff;
  color: white;
  width: 100%;
  padding: 5px;
}

.horizontal-rule {
  background-color: #bdbdbd;
}

#ftc-events li {
  word-break: break-all;
}

.assign-roles {
  background-color: #f8f8f8;
  padding: 10px 30px 30px;
  margin: 50px 0 30px;
}
